/*------START------System Colors ------------- */
$color-white: #FFFFFF;
$color-lightgrey: #F7F7F7;
$color-lightgold: #ECAE83;
$color-goldy: #DEA47D;
$color-gold: #CBB492;
$color-dark: #1B1B1C;
$color-grey: #A0A0A0;
$color-darkgrey: #757575; 
$color-lightgold-rgb: 236, 174, 131;
$color-red:#FF6565;
$color-darkred:#C11616;
/*------END------System Colors ------------- */

/*------START------Font ------------- */
$font-family: 'Montserrat', sans-serif;
/*------END------Font ------------- */

$e-termometer-btn-width: 60px;
$e-map-btn-width: 60px;

$menuDelay: 0.1;