/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
/* font styles */
.e-admin-container h1, .e-admin-container h2, .e-admin-container h3, .e-admin-container h4, .e-admin-container h5, .e-admin-container h6 {
  font-size: 30px;
  color: #1B1B1C;
  font-weight: bold;
}

.e-admin-container h2, .e-admin-container .e-text-title {
  font-size: 22px;
}

.e-admin-container h3, .e-admin-container .e-text-subtitle {
  font-size: 20px;
}

.e-admin-container h4 {
  font-size: 18px;
}

.e-admin-container h5 {
  font-size: 16px;
}

.e-admin-container h6 {
  font-size: 12px;
}

.e-admin-container p {
  font-weight: normal;
  color: #1B1B1C;
  font-size: 18px;
}

.e-admin-container ul, .e-admin-container ol, .e-admin-container dl {
  font-size: 18px;
  margin-left: 1.25rem;
}

.e-admin-container a[href] {
  font-size: 16px;
  color: #ECAE83;
}

.e-admin-container a[href]:hover {
  color: #ECAE83;
}

.e-admin-container button, .e-admin-container input[type=button], .e-admin-container input[type=submit] {
  cursor: pointer;
  border-radius: 0;
  padding: 20px 43px 20px 43px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none !important;
  background-color: #ECAE83;
  color: black;
  border: 0;
}

.e-admin-container button:hover, .e-admin-container input[type=button]:hover, .e-admin-container input[type=submit]:hover {
  background-color: #DEA47D;
}

.e-admin-container table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

.e-admin-container table thead, .e-admin-container table tbody {
  border: 1px solid #ECAE83;
}

.e-admin-container table th {
  background-color: #ECAE83;
}

.e-admin-container table caption {
  caption-side: top;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.e-admin-container table td:last-child {
  border-right: 0;
}

.e-admin-container table td {
  border-right: 1px solid #ECAE83;
}

.e-admin-container table td, .e-admin-container table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.e-admin-container .collapse-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
}

.e-admin-container .collapse-panel.show .panel-content {
  display: block;
  -webkit-transition: padding .5s;
  transition: padding .5s;
}

.e-admin-container .collapse-panel .panel-content {
  display: none;
  margin-bottom: 20px;
  padding-left: 30px;
}

.e-admin-container .collapse-panel > h1, .e-admin-container .collapse-panel > h2, .e-admin-container .collapse-panel > h3, .e-admin-container .collapse-panel > h4, .e-admin-container .collapse-panel > h5, .e-admin-container .collapse-panel > h6 {
  margin: 0;
}

.e-admin-container .collapse-panel > h1 > a, .e-admin-container .collapse-panel > h2 > a, .e-admin-container .collapse-panel > h3 > a, .e-admin-container .collapse-panel > h4 > a, .e-admin-container .collapse-panel > h5 > a, .e-admin-container .collapse-panel > h6 > a {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: padding .5s;
  transition: padding .5s;
  cursor: pointer;
}

.e-admin-container .collapse-panel > h1 > a::after, .e-admin-container .collapse-panel > h2 > a::after, .e-admin-container .collapse-panel > h3 > a::after, .e-admin-container .collapse-panel > h4 > a::after, .e-admin-container .collapse-panel > h5 > a::after, .e-admin-container .collapse-panel > h6 > a::after {
  margin: auto 0 auto auto;
  content: url("/img/svg/ic_arrow_down_black.svg");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.e-admin-container .collapse-panel > h1 > a:hover, .e-admin-container .collapse-panel > h2 > a:hover, .e-admin-container .collapse-panel > h3 > a:hover, .e-admin-container .collapse-panel > h4 > a:hover, .e-admin-container .collapse-panel > h5 > a:hover, .e-admin-container .collapse-panel > h6 > a:hover {
  padding-left: 30px;
}

.e-admin-container .collapse-panel + .collapse-panel {
  border-top: 0;
}

.e-admin-container .collapse-panel.show > h1 > a, .e-admin-container .collapse-panel.show > h2 > a, .e-admin-container .collapse-panel.show > h3 > a, .e-admin-container .collapse-panel.show > h4 > a, .e-admin-container .collapse-panel.show > h5 > a, .e-admin-container .collapse-panel.show > h6 > a {
  padding-left: 30px;
}

.e-admin-container .collapse-panel.show > h1 > a::after, .e-admin-container .collapse-panel.show > h2 > a::after, .e-admin-container .collapse-panel.show > h3 > a::after, .e-admin-container .collapse-panel.show > h4 > a::after, .e-admin-container .collapse-panel.show > h5 > a::after, .e-admin-container .collapse-panel.show > h6 > a::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

/* ---------------- Panel Overrides ------------*/
/*# sourceMappingURL=admin.css.map */