@import "variables";
/* font styles */

.e-admin-container{
  h1,h2,h3,h4,h5,h6 {
    font-size: 30px;
    color: $color-dark;
    font-weight: bold;
  }
  h2, .e-text-title {
    font-size: 22px;
  }
  h3, .e-text-subtitle {
    font-size: 20px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  h6{
    font-size: 12px;
  }
  p{
    font-weight: normal;
    color: $color-dark;
    font-size: 18px;
  }
  ul, ol, dl{
    font-size: 18px;
    margin-left: 1.25rem;
  }
  a[href]{
    font-size: 16px;
    color: $color-lightgold;
    &:hover{
      color: $color-lightgold;
    }
  }
  button, input[type=button], input[type=submit] {
    cursor: pointer;
    border-radius: 0;
    padding: 20px 43px 20px 43px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none !important;
    background-color: $color-lightgold;
    color: black;
    border:0;
    &:hover{
      background-color: $color-goldy;
    } 
  }
  table{
    thead, tbody{
      border: 1px solid $color-lightgold;
    }
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    th{
      background-color: $color-lightgold;
    }
    caption{
      caption-side: top;
      text-transform: uppercase;
      color: black;
      font-weight: bold;
      font-size: 12px;
    }
    td:last-child{
      border-right: 0
    }
    td{
      border-right: 1px solid $color-lightgold;
    }
    td, th{
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  }
  .collapse-panel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif;
    &.show{
      .panel-content{
        display: block;
        transition: padding .5s;
      }
    }
    .panel-content{
      display: none;
      margin-bottom: 20px;
      padding-left: 30px;
    }
    & > h1, & > h2, & > h3,& > h4,& > h5,& > h6{
      margin:0;
    }
    & > h1 > a, & > h2 > a, & > h3 > a,& > h4 > a,& > h5 > a,& > h6 > a{
      padding: 20px 0 20px 0;
      display: flex;
      transition: padding .5s;
      cursor: pointer;
      &::after{
        margin: auto 0 auto auto;
        content: url('/img/svg/ic_arrow_down_black.svg');
        transform: rotate(-90deg);
      }
      &:hover{
        padding-left: 30px;
      }
    }
    & + .collapse-panel{
      border-top: 0;
      //background-color: red;
    }
    &.show{
      & > h1 > a, & > h2 > a, & > h3 > a,& > h4 > a,& > h5 > a,& > h6 > a{
        padding-left: 30px;
        &::after{
          transform: rotate(0deg);
        }
      }
    }
  }
}

/* ---------------- Panel Overrides ------------*/