@import "variables";
/* font styles */
body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}
.font-white{
  color: #FFF;
}
h1,h2,h3,h4,h5,h6, .e-text-headline {
  font-size: 30px;
  color: $color-dark;
  font-weight: bold;
}
h2, .e-text-title {
  font-size: 22px;
}
h3, .e-text-subtitle {
  font-size: 20px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
}
h6{
  font-size: 12px;
}

p, .e-text-regular{
  font-weight: normal;
  color: $color-dark;
  font-size: 18px;
}
  .e-list{
  font-size: 18px;
} 
.e-text-small {
  font-size: 12px;
}

.e-large {
  font-size: 60px;
}
.e-middle {
  font-weight: bold;
  vertical-align: middle;
}
.e-link{
  color: $color-lightgold;
  &:hover{
    color: $color-lightgold;
  }
}
.e-cursor-default{
  cursor: default !important;
}
.e-table{
  border: 1px solid $color-lightgold;
  thead{
    background-color: $color-lightgold;
  }
  caption{
    caption-side: top;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 12px;
  }
  &-bordered{
    td:last-child{
      border-right: 0
    }
    td{
      border-right: 1px solid $color-lightgold;
    }
  }
}
/*  --------------- Header -------------*/
.navbar-toggler{
  border-radius: 0;
}
.e-header {
  z-index: 50;
  .navbar{
    padding-top: 45px;
  }
  nav {
    height: 200px;
    display: block;
    margin-top: 0;
    padding-top: 0;
    .dropdown-menu {
      padding: 0;
      background: none;
      .dropdown-item {
        padding: 0;
        text-align: center;
        height: 40px;
        line-height: 40px;
        background-color: white;
        &:hover {
          background-color: rgba(255, 255, 255, 0.9);
        }
      }
      &.lang {
        border: 0;
        margin-top: -60px;
        a{
          background-color: unset;
          color: white;
          &:hover{
            background-color: unset;
            color: rgba(255,255,255,.8) !important;
          }
        }
        
        min-width: 45px;
      }
    }
    .dropdown-toggle::after {
      content: url('/img/svg/down_arrow_small_white.svg');
      border: 0;
      vertical-align: 0;
    }
    .nav-link {
      margin: 0px 40px 0px 0px !important;
      color: white !important;
      padding-left: 0px !important;
    }
    .nav-item:last-child .nav-link {
      margin-right: 0 !important;
    }
  }
  .e-nav-list{
    padding: 0;
    white-space: nowrap;
    min-width: 250px;
    li:first{
      padding-top: 0;
    }
    li{
      display: flex;
      list-style: none;
      padding-bottom: 5px;
      padding-top: 5px;
      border-bottom: 1px solid rgba($color: $color-lightgrey, $alpha: 0.3 );

      &::after{
        margin-left: auto;
        content: url(/img/svg/menu_arrow_right.svg);
        border: 0;
        vertical-align: 0;
        position: relative;
        right: 0;
        padding-left: 5px;
      }
      a{
        color: white !important;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}
@media (max-width: 1200px) {
  .e-header {
    nav{
      height: 100px;
    }
    .navbar{
      padding-top: 30px;
    }
    .navbar-toggler{
      margin-top: 10px;
    }
  }
}
@media (max-width: 992px) {
  .e-header .col-8 {
    justify-content: flex-end;
  }
}

/*  --------------- Header -------------*/
/*  --------------- Mobile Menu -------------*/
.e-mobile-menu {
  letter-spacing: 0 !important;
  background-color: rgba(27,27,28, .9);
  width: 0%;
  position: fixed;
  height: 100vh;
  z-index: 500;
  font-size: 22px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  right: 0;
  transition: .5s;
  .plr{
    padding-right: 10px;
    padding-left: 10px;
  }
  .header {
    height: 100px;
    width: 100%;
    border-bottom: solid 1px rgba(255,255,255, .3);
    font-weight: bold;
    img{
      margin-bottom: 2px;
    }
  }
  .content {
    ul li {
      opacity: 0;
      transform: translateY(50px);
      margin: 20px 0 20px 0;
      white-space: nowrap;
      display: flex;
      &.e-termometer-window-open{
        cursor: pointer;
      }
      &.contact{
        justify-content: space-between;
        cursor: default;
        img{
          width: 16px;
          height: 16px;
          cursor: pointer;
        }
        a{
          line-height: 0;
        }
      }
      .lang-item{
        font-weight: normal;
        margin-right: 10px;
      }
    }
    overflow-y: auto;
    height: calc(100vh - 100px);
    .sub-menu{
      &::before{
        content: '';
        bottom: 0;
        left: 0;
        position: absolute;
        width: 0% !important;
        border-bottom: 1px solid rgba($color: $color-lightgrey, $alpha: 0.3 );
      }
      font-weight: bold;
      padding-bottom: 10px;
      &::after{
        margin-left: auto;
        content: url(/img/svg/menu_arrow_right.svg);
        border: 0;
        vertical-align: 0;
        position: relative;
        right: 0;
      }
      &.lang{
        text-align: right;
        display: block;
        white-space: normal;
        &::after{
          display: none;
        }
      }
    }
  }
  &.show{
    .sub-menu{
      &:nth-child(1){
          &::before{
            animation: submenuBorderAnimation 1s ease-out #{1*$menuDelay}s forwards;
        }
      }
      &:nth-child(2){
        &::before{
          animation: submenuBorderAnimation 1s ease-out #{2*$menuDelay}s forwards;
        }
      }
      &:nth-child(3){
        &::before{
          animation: submenuBorderAnimation 1s ease-out #{3*$menuDelay}s forwards;
        }
      }
      &:nth-child(4){
        &::before{
          animation: submenuBorderAnimation 1s ease-out #{4*$menuDelay}s forwards;
        }
      }
    }
    display: block;
    width: 335px;
    li:nth-child(1){
      animation: slideUpMenuAnimation .5s ease-in-out #{1*$menuDelay}s forwards alternate;
    }
    li:nth-child(2){
      animation: slideUpMenuAnimation .5s ease-in-out #{2*$menuDelay}s forwards alternate;
    }
    li:nth-child(3){
      animation: slideUpMenuAnimation .5s ease-in-out #{3*$menuDelay}s forwards alternate;
    }
    li:nth-child(4){
      animation: slideUpMenuAnimation .5s ease-in-out #{4*$menuDelay}s forwards alternate;
    }
    li:nth-child(5){
      animation: slideUpMenuAnimation .5s ease-in-out #{5*$menuDelay}s forwards alternate;
    }
    li:nth-child(6){
      animation: slideUpMenuAnimation .5s ease-in-out #{6*$menuDelay}s forwards alternate;
    }
    li:nth-child(7){
      animation: slideUpMenuAnimation .5s ease-in-out #{7*$menuDelay}s forwards alternate;
    }
    li:nth-child(8){
      animation: slideUpMenuAnimation .5s ease-in-out #{8*$menuDelay}s forwards alternate;
    }
    li:nth-child(9){
      animation: slideUpMenuAnimation .5s ease-in-out #{9*$menuDelay}s forwards alternate;
    }
    li:nth-child(10){
      animation: slideUpMenuAnimation .5s ease-in-out #{10*$menuDelay}s forwards alternate;
    }
  }
  .title{
    cursor: pointer;
  }
  #e-mobile-menu-close{
    cursor: pointer;
  }
  a{
    cursor: pointer;
    color: white;
    text-decoration: none !important;
  }
}
@keyframes submenuBorderAnimation{
  to   { width: 100%; }
}
/*  --------------- Mobile Menu -------------*/
/*  --------------- Slider -------------*/

.e-slider {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  &-h1{
    font-weight: 600;
    color: white;
    border-bottom: 2px solid $color-lightgold;
  }
  &-p{
    color: white;
  }
  .carousel-inner .carousel-item {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .e-slider-content {
    padding: 100px;
  }
  .slider-controls {
    height: 100px;
    width: 368px;
    z-index: 50;
    position: absolute;
    bottom: 0;
    right: 0;
    align-items: center;
    background-color: $color-lightgrey;
    a {
      width: 40%;
    }
    img {
      width: 12px;
    }
    .slider-bar{
      width: 100%;
      height: 4px;
      background-color: $color-grey;
      position: absolute;
      top:0;
      &-fill{
        height: 100%;
        width: 0;
        background-color: $color-lightgold;
      }
    }
  }
  .slider-unique-visits{
    position: absolute;
    bottom: 0px;
    /* background-color: red; */
    left: 0;
    z-index: 40;
    height: 50px;
    display: block;
    width: 368px;
    text-align: left;
    padding-left: 100px;
    letter-spacing: 2px;
  }
  &-overlay{
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
  }
  .lightbox-img{
    height: 100%;
    width: 100%;
  }
}
.e-home-header{
  &-wrapper{
    height: 100vh;
  }
  &-content{
    width: calc(100% - #{$e-termometer-btn-width});
    left: $e-termometer-btn-width;
    position: absolute;
    top:0;
    right: 0;
  }
}
.e-termometer{
  position: absolute;
  z-index: 60;
  height: 100%;
  transition: width 0.5s;
  width: $e-termometer-btn-width;
  background-color: $color-dark;
  .e-termometer-container{
    width: 0;
    display: none;
  }
  &.show{
    width: 100%;
    .e-termometer-container{
      width: calc(100% - #{$e-termometer-btn-width});
      display: inline-block;
    }
    .e-termometer-btn{
      span{
        display: none;
      }
      &::after{
        content: url('/img/svg/ic_burger_close.svg');
      }
    }
  }
  &-container{
    height: 100%;
    display: inline-block;
    transition: 0.5s;
    .left-c{
      .house-c{
        margin: 0;
        font-size: 177px;
        color: white;
      }
      .house-d{
        font-size: 30px;
        color: white;
        word-break: break-word;
        text-transform: uppercase;
      }
    }
  }
  &-btn{
    cursor: pointer;
    background-color: $color-dark;
    height: 100%;
    width: $e-termometer-btn-width;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    float: right; 
    .text{
      transform: rotate(-90deg);
      white-space: nowrap;
      font-size: 14px;
      &::after{
        padding-left: 10px;
        content: url(/img/svg/down_arrow_small_white.svg);
        border: 0;
        vertical-align: 0;
      }
    }
  }
  & table{
    position: relative;
    margin: 0;
    border: 0;
    font-family: $font-family;
    tr td{
      padding-bottom: 6px;
      padding-top: 6px;
      font-size: 16px;
      color: black;
      border: 0;
      &:first-child{
        cursor: pointer;
        text-align: right;
        padding-right: 30px;
        &:hover{
          opacity: 0.9;
        }
      }
      &:last-child{
        padding: 0 0 0 10px;
        min-width: 120px;
        opacity: 0;
        transition: opacity .3s;
        font-size: 25px;
        color: white;
        vertical-align: middle;
      }
    }
    tr:first-child td:nth-child(2){
      width: 40px;
      padding: 0 0 0 20px;
      .fill-bar{
        height: 100%;
        width: 20px;
        margin: 0;
        bottom: 0;
        position: absolute;
        border: 1px solid $color-lightgold;
        .inner-fill{
          transition: all .5s;
          display: block;
          position: absolute;
          height: 0px;
          bottom:0px;
          background-color: $color-lightgold;
          width: 100%;
        }
      }
    }
  }
  &-table-container{
    position: relative;
  }
  &-table-header{
    font-size: 12px;
    font-weight: bold;
    color:white;
    border-bottom: 1px solid rgba(236, 174, 131, 0.7);
    padding-bottom: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
.slide-counter {
  width: 20%;
  text-align: center;
}
.social-media-container {
  z-index: 50;
  display: block;
  position: absolute;
  right: 0;
  padding-right: 100px;
  ul li {
    display: block;
    img {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    &:nth-last-child(2) img {
      margin: 30px 0 30px 0;
    }
  }
}

/* -------------------------- MINI SLIDER ------------ */

.e-slider.e-slider-mini{
  max-height: 500px;
  .carousel-inner .carousel-item {
    max-height: 500px;
  }
  .slider-controls {
    height: 80px;
    width: 200px;
  }
  .slide-counter {
    width: 30%;
  }
  .social-media-container {
    display: none;
  }
  &.e-bg-fixed{
    .carousel-item{
      background-attachment: fixed;
    }
  }
}
@media (max-width: 992px){
  .e-slider-mini-wrapper{
    padding-top: 75%;
    position: relative;
    .e-slider-mini{
      position: absolute;
      top:0;
      height: 100%;
      width: 100%;
      .carousel-inner{
        height: 100%;
        .carousel-item{
          height: 100%;
        }
      }
    }
/*     .e-bg-fixed{
      max-height: 100%;
      .carousel-inner .carousel-item{
        max-height: 100%;
      }
    } */
  }
}

/*  --------------- Slider -------------*/
/*  --------------- Margins -------------*/

.e-mtb-180 {
  margin-bottom: 180px;
  margin-top: 180px;
}
.e-mb-180 {
  margin-bottom: 180px;
}
.e-mtb-100 {
  margin-bottom: 100px;
  margin-top: 100px;
}
.e-mt-100 {
  margin-top: 100px;
}
.e-mt-180 {
  margin-top: 180px;
}
.e-ptb-180 {
  padding-bottom: 180px;
  padding-top: 180px;
}
.e-border{
  border-color: $color-lightgold;
}
.e-mb-100 {
  margin-bottom: 100px;
}
/*  --------------- Margins -------------*/
/*  --------------- Buttons -------------*/
.e-btn {
  cursor: pointer;
  color: white;
  border:0;
  border-radius: 0;
  padding: 20px 43px 20px 43px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none !important;
  &-primary{
    background-color: $color-lightgold;
    color: black !important;
    border:0;
    &:hover{
      background-color: $color-goldy;
      color: black;
    }
  }
  &-disabled{
    background-color: #323133;
    color: #A0A0A0 !important;
    cursor: default !important;
  }
  &-white{
    background-color: $color-dark;
    border: solid 1px white;
    color: white !important;
    &:hover{
      background-color: white;
      border-color: $color-dark;
      color: $color-dark !important;
    }
  }
  &-dark{
    background-color: rgba(0,0,0,0);
    border: solid 1px $color-dark;
    color: $color-dark;
    &:hover{
      background-color: $color-dark;
      border-color: white;
      color: white;
    }
  }
  &-dark-long{
    height: 60px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: $color-dark;
    color: white;
    &::after{
      content: url("/img/svg/arrow_slider_right_white.svg");
      border: 0;
      width: 16px;
      height: 16px;
      float: right;
    }
    &:hover{
      background-color: $color-lightgold;
    }
  }
  &-light-long{
    height: 60px;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: white;
    color: $color-dark;
    &::after{
      content: url("/img/svg/arrow_slider_right_dark.svg");
      border: 0;
      width: 16px;
      height: 16px;
      float: right;
    }
    &:hover{
      background-color: $color-lightgold;
    }
  }
}

/*  --------------- Buttons -------------*/
/* ---------------- BG Colors ------------*/

.e-bg-light-grey {
  background-color: $color-lightgrey;
}
.e-bg-white {
  background-color: $color-white;
}
.e-bg-dark {
  background-color: $color-dark;
}
.e-bg-gold {
  background-color: $color-lightgold;
}

/* ---------------- BG Colors ------------*/

/* ---------------- Panel Overrides ------------*/

.e-panel {
  .panel-heading {
    transition: padding .5s;
    padding: 20px 0 20px 0;
    color: white;
    h4{
      color: white;
    }
  }
  .panel {
    position: relative;
    &::after{
      content: '';
      height: 2px;
      position: absolute;
      width: 100%;
      bottom: 0;
      border-bottom: 1px solid rgba(255,255,255,.5);
    }
    &:first-child {
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        border-bottom: 1px solid rgba(255,255,255,.5);
      }
    }
    &.e-active{
      .panel-heading{
        padding-left: 40px !important;
        .panel-title::after{
          transform: rotate(0deg);
        }
      }
    }
    .panel-heading:hover{
      padding-left: 40px !important;
    }
    .panel-body {
      padding-left: 40px;
      color: white;
      padding-top: 10px;
      padding-bottom: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      img{
        max-width: 100%;
      }
    }
    .panel-heading {
      text-decoration: none;
      color: white;
      cursor: pointer;
      .panel-date{
        white-space: nowrap;
        font-size: 12px;
        font-weight: bold;
        word-spacing: 5px;
        opacity: .6;
      }
      .panel-title{
        display: flex;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        &::after{
          transition: transform .2s;
          margin: auto 0 auto auto;
          content: url('/img/svg/ic_arrow_down_white.svg');
          transform: rotate(-90deg);
        }
      }
    }
  }
  &.e-panel-black {
    .panel-heading {
      color: black;
      h4{
        color:black;
      }
      .panel-title::after{
        content: url('/img/svg/ic_arrow_down_black.svg');
      }
    }
    .panel-body {
      color: black;
    }
    .panel {
      &::after, &::before{
        border-bottom: 1px solid rgba(0,0,0,.3);
      }
    }
  }
}

.e-footer{
  color: white;
  .e-footer-projects{
    ul{
      width: 100%;
      li {
        text-align: center;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        padding: 10px 0 10px 0;
        &:first-child {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        &.e-hr{
          border-bottom: 1px solid #707070;
        }
        .e-btn{
          width: 100%;
          font-size: 14px;
          padding-left: 0;
          padding-right: 0;
        }
        &:nth-child(2){
          padding-bottom: 30px;
        }
      }
    }
  }
  .e-footer-menu{
    .nav-item{
      img{
        width: 16px;
        opacity: 0.5;

      }
      &:hover img{
        opacity: 0.75;
      }
    }
  } 
}
.e-card{
  border-radius: 0;
  padding: 0 20px 0 20px;
  font-family: $font-family;
  &-icon{
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -1px;
    margin-right: -1px;
  }
  &-header{
    min-height: 105px;
    background-color: #FFF;
    margin-top: 1px;
  }
  .card-body{
    padding-top: 0;
  }
  .card-body, .card-header{
    padding-left: 0;
    padding-right: 0;
  }
  &-title{
    font-size: 28px !important;
    font-weight: bold;
  }
  &-border{
    border-bottom: 1px solid #707070;
    border-top: 1px solid #707070;
  }
  &-footer{
    margin-left: -20px;
    margin-right: -20px;
  }
}
.e-semi-bold{
  font-weight: 600;
}
.e-shadow{
  transition: .5s;
  &:hover{
    -webkit-box-shadow: 14px 15px 53px -8px rgba(0,0,0,0.26);
    -moz-box-shadow: 14px 15px 53px -8px rgba(0,0,0,0.26);
    box-shadow: 14px 15px 53px -8px rgba(0,0,0,0.26);
  }
}
.e-border-tb{
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}

  /* ----------------- Contact Form ------------------- */
  .contact-form {
    input *:focus {
      outline-color: $color-lightgold !important;
    }
    .form-group {
      input, textarea {
        background-color: #323133;
        border: 0;
        border-radius: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: white;
      }
      input {
        height: 60px;
      }
      textarea {
        height: 110px;
      }
    }
    .custom-control-label:before {
      background-color: #1B1B1C;
    }
    .custom-checkbox .custom-control-input:checked ~ .custom-control-label {
      &::before {
        background-color: #E6E2DF;
        border-color: $color-lightgold !important;
        border-top-color: $color-lightgold !important;
      }
      &::after {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='rgb(236, 174, 131)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
      }
    }
    .custom-control-label {
      &::after, &::before {
        height: 30px;
        width: 30px;
        border-radius: 0;
      }
      line-height: 35px;
      font-size: 16px;
      padding-left: 20px;
      color: white;
      font-family: 'Montserrat', sans-serif;
    }
    &.contact-form-white {
      .form-group {
        input, textarea {
          color: #323133;
          background-color: #E6E2DF;
        }
      }
      .custom-control-label {
        color: #323133;
      }
      a{
        color:black;
      }
    }
    a{
      color:white;
      display: block;
      text-decoration: underline;
      font-size: 14px;
    }
  }
  /* ----------------- Contact Form ------------------- */
  /* ----------------- Contact Window Form ------------------- */
  .e-contact-window {
    overflow: scroll;
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 500;
    transition: transform .5s;
    transform: translateX(100%);
    overflow-x: hidden;
    top: 0;
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 600;
    }
    &.show{
      transform: translateX(0);
    }
    &-close{
      cursor: pointer;
    }
  }
  /* ----------------- Contact Window Form ------------------- */

  /* ----------------- Termometer Window Form ------------------- */
  .e-termometer-window {
    top: 0;
    overflow: scroll;
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index: 500;
    transition: transform .5s;
    transform: translateX(100%);
    overflow-x: hidden;
    &-close {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 600;
    }
    &.show{
      transform: translateX(0);
    }
    .e-termometer{
      position: relative;
      width: 100%;
      .e-termometer-container{
        width: 100%;
        display: inline-block;
      }
      .house-d{
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .house-c{
        font-size: 177px;
        font-weight: bold;
        line-height: 1;
      }
    }
  }
  /* ----------------- Termometer Window Form ------------------- */
  /* ----------------- Focus restyle ------------- */
  .form-control:focus{
    outline-color: $color-lightgold;
    border-color: $color-lightgold;
    box-shadow: 0 0 0 0.2rem rgba(236, 174, 131,.25)
  }
  button:focus{
    outline-color: $color-lightgold;
    box-shadow: 0 0 0 0.2rem rgba(236, 174, 131,.25)
  }
  /* ----------------- Focus restyle ------------- */
  /* ----------------- Modals ------------------ */
  [id^="e-modal-price"], #e-modal-thanks {
    .modal-content{
      border: 0;
      border-radius: 0;
    }
    .modal-body{
      &-scroll{
        overflow-y: auto;
        max-height: 60vh;
      }
    }
    .modal-footer{
      border: 0;
      justify-content: flex-start;
    }
  }

  /* ----------------- Modal ------------------ */
  /* -------------------- Preloader ------------------ */
  body.preloader-site {
    overflow: hidden;
    .preloader-wrapper{
      display: block;
    }
  }

  .preloader-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    background: $color-dark;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    font-size: 170px;
    font-weight: 600;
    .container{
      align-items: center;
      justify-content: center;
      display: flex;
      height: 100vh;
      text{
        position: relative;
        width: 310px;
        color:white;
        height: 230px;
        overflow: hidden;
        &::after{
          content: url('/img/svg/logo_evillage.svg');
          position: absolute;
          transform: translateY(230px);
          left: 0;
          -webkit-animation-name: slideUpTextAnimation;
          -webkit-animation-duration: .5s;
          -webkit-animation-delay: .5s;
          -webkit-animation-timing-function: ease-in-out;
          -webkit-animation-direction: alternate;
          -webkit-animation-fill-mode: forwards;

          animation-name: slideUpTextAnimation;
          animation-duration: .5s;
          animation-delay: .5s;
          animation-timing-function: ease-in-out;
          animation-direction: alternate;
          animation-fill-mode: forwards;
        }
      }
    }
  }
  @media(max-width: 992px){
    .preloader-wrapper{
      font-size: 100px;
    }
    .e-btn-lg{
      width: 100%;
      text-align: center;
    }
  }
  @media(max-width: 768px){
    .preloader-wrapper{
      font-size: 70px;
    }
  }
  /* -------------------- Preloader ------------------ */
  @keyframes slideUpTextAnimation{
    to   { transform: translateY(0); }
  }
  @keyframes slideUpMenuAnimation{
    to   { transform: translateY(0); opacity: 1; }
  }
  @media (max-width: 768px){
    .e-btn-mob{
      width: 100%;
      text-align: center;
    }
    .e-ptb-180{
      padding-bottom: 90px;
      padding-top: 90px;
    }
    .e-mtb-180{
      margin-bottom: 90px;
      margin-top: 90px;
    }
    .e-mb-180{
      margin-bottom: 90px;
    }
  }
  @media (min-width: 1200px){
    .container {
      max-width: 1200px;
    }
  }
  /* -------------------- Form validator ------------------ */
  form .error {
    color: $color-red;
  }
  form input.error, textarea.error{
    border: solid 1px $color-red !important;
  }
  form .custom-control{
    display: flex; flex-direction: column;
  }
  form .custom-control{
    input{
      #b { order: 1; }
    }
    .custom-control-label{
      #a { order: 2; }
    }
    .error{
      order: 3;
      bottom: 0px;
      left: 0px;
      display: block;
      margin-left: -1.5em;
    }
  }
  /* -------------------- Form validator ------------------ */
  /* -------------------- Mobile menu button ------------------ */
  @media (min-width: 1200px){
    .e-mobile-menu-button{
      visibility: hidden;
    }
  }
.e-mobile-menu-button{
  background-image: url(/img/svg/ic_burger_white.svg);
  background-repeat: no-repeat;
  background-position: 11px 14px;
  background-color: $color-dark;
  cursor: pointer;
  display: none;
  z-index: 60;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top:20px;
  border: 1px solid $color-lightgrey;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}
/* -------------------- Mobile menu button ------------------ */
  