/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
/* font styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.font-white {
  color: #FFF;
}

h1, h2, h3, h4, h5, h6, .e-text-headline {
  font-size: 30px;
  color: #1B1B1C;
  font-weight: bold;
}

h2, .e-text-title {
  font-size: 22px;
}

h3, .e-text-subtitle {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 12px;
}

p, .e-text-regular {
  font-weight: normal;
  color: #1B1B1C;
  font-size: 18px;
}

.e-list {
  font-size: 18px;
}

.e-text-small {
  font-size: 12px;
}

.e-large {
  font-size: 60px;
}

.e-middle {
  font-weight: bold;
  vertical-align: middle;
}

.e-link {
  color: #ECAE83;
}

.e-link:hover {
  color: #ECAE83;
}

.e-cursor-default {
  cursor: default !important;
}

.e-table {
  border: 1px solid #ECAE83;
}

.e-table thead {
  background-color: #ECAE83;
}

.e-table caption {
  caption-side: top;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.e-table-bordered td:last-child {
  border-right: 0;
}

.e-table-bordered td {
  border-right: 1px solid #ECAE83;
}

/*  --------------- Header -------------*/
.navbar-toggler {
  border-radius: 0;
}

.e-header {
  z-index: 50;
}

.e-header .navbar {
  padding-top: 45px;
}

.e-header nav {
  height: 200px;
  display: block;
  margin-top: 0;
  padding-top: 0;
}

.e-header nav .dropdown-menu {
  padding: 0;
  background: none;
}

.e-header nav .dropdown-menu .dropdown-item {
  padding: 0;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: white;
}

.e-header nav .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.e-header nav .dropdown-menu.lang {
  border: 0;
  margin-top: -60px;
  min-width: 45px;
}

.e-header nav .dropdown-menu.lang a {
  background-color: unset;
  color: white;
}

.e-header nav .dropdown-menu.lang a:hover {
  background-color: unset;
  color: rgba(255, 255, 255, 0.8) !important;
}

.e-header nav .dropdown-toggle::after {
  content: url("/img/svg/down_arrow_small_white.svg");
  border: 0;
  vertical-align: 0;
}

.e-header nav .nav-link {
  margin: 0px 40px 0px 0px !important;
  color: white !important;
  padding-left: 0px !important;
}

.e-header nav .nav-item:last-child .nav-link {
  margin-right: 0 !important;
}

.e-header .e-nav-list {
  padding: 0;
  white-space: nowrap;
  min-width: 250px;
}

.e-header .e-nav-list li:first {
  padding-top: 0;
}

.e-header .e-nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(247, 247, 247, 0.3);
}

.e-header .e-nav-list li::after {
  margin-left: auto;
  content: url(/img/svg/menu_arrow_right.svg);
  border: 0;
  vertical-align: 0;
  position: relative;
  right: 0;
  padding-left: 5px;
}

.e-header .e-nav-list li a {
  color: white !important;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .e-header nav {
    height: 100px;
  }
  .e-header .navbar {
    padding-top: 30px;
  }
  .e-header .navbar-toggler {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .e-header .col-8 {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*  --------------- Header -------------*/
/*  --------------- Mobile Menu -------------*/
.e-mobile-menu {
  letter-spacing: 0 !important;
  background-color: rgba(27, 27, 28, 0.9);
  width: 0%;
  position: fixed;
  height: 100vh;
  z-index: 500;
  font-size: 22px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  right: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.e-mobile-menu .plr {
  padding-right: 10px;
  padding-left: 10px;
}

.e-mobile-menu .header {
  height: 100px;
  width: 100%;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.e-mobile-menu .header img {
  margin-bottom: 2px;
}

.e-mobile-menu .content {
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.e-mobile-menu .content ul li {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  margin: 20px 0 20px 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-mobile-menu .content ul li.e-termometer-window-open {
  cursor: pointer;
}

.e-mobile-menu .content ul li.contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.e-mobile-menu .content ul li.contact img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.e-mobile-menu .content ul li.contact a {
  line-height: 0;
}

.e-mobile-menu .content ul li .lang-item {
  font-weight: normal;
  margin-right: 10px;
}

.e-mobile-menu .content .sub-menu {
  font-weight: bold;
  padding-bottom: 10px;
}

.e-mobile-menu .content .sub-menu::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0% !important;
  border-bottom: 1px solid rgba(247, 247, 247, 0.3);
}

.e-mobile-menu .content .sub-menu::after {
  margin-left: auto;
  content: url(/img/svg/menu_arrow_right.svg);
  border: 0;
  vertical-align: 0;
  position: relative;
  right: 0;
}

.e-mobile-menu .content .sub-menu.lang {
  text-align: right;
  display: block;
  white-space: normal;
}

.e-mobile-menu .content .sub-menu.lang::after {
  display: none;
}

.e-mobile-menu.show {
  display: block;
  width: 335px;
}

.e-mobile-menu.show .sub-menu:nth-child(1)::before {
  -webkit-animation: submenuBorderAnimation 1s ease-out 0.1s forwards;
          animation: submenuBorderAnimation 1s ease-out 0.1s forwards;
}

.e-mobile-menu.show .sub-menu:nth-child(2)::before {
  -webkit-animation: submenuBorderAnimation 1s ease-out 0.2s forwards;
          animation: submenuBorderAnimation 1s ease-out 0.2s forwards;
}

.e-mobile-menu.show .sub-menu:nth-child(3)::before {
  -webkit-animation: submenuBorderAnimation 1s ease-out 0.3s forwards;
          animation: submenuBorderAnimation 1s ease-out 0.3s forwards;
}

.e-mobile-menu.show .sub-menu:nth-child(4)::before {
  -webkit-animation: submenuBorderAnimation 1s ease-out 0.4s forwards;
          animation: submenuBorderAnimation 1s ease-out 0.4s forwards;
}

.e-mobile-menu.show li:nth-child(1) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.1s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.1s forwards alternate;
}

.e-mobile-menu.show li:nth-child(2) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.2s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.2s forwards alternate;
}

.e-mobile-menu.show li:nth-child(3) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.3s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.3s forwards alternate;
}

.e-mobile-menu.show li:nth-child(4) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.4s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.4s forwards alternate;
}

.e-mobile-menu.show li:nth-child(5) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.5s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.5s forwards alternate;
}

.e-mobile-menu.show li:nth-child(6) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.6s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.6s forwards alternate;
}

.e-mobile-menu.show li:nth-child(7) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.7s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.7s forwards alternate;
}

.e-mobile-menu.show li:nth-child(8) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.8s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.8s forwards alternate;
}

.e-mobile-menu.show li:nth-child(9) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 0.9s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 0.9s forwards alternate;
}

.e-mobile-menu.show li:nth-child(10) {
  -webkit-animation: slideUpMenuAnimation 0.5s ease-in-out 1s forwards alternate;
          animation: slideUpMenuAnimation 0.5s ease-in-out 1s forwards alternate;
}

.e-mobile-menu .title {
  cursor: pointer;
}

.e-mobile-menu #e-mobile-menu-close {
  cursor: pointer;
}

.e-mobile-menu a {
  cursor: pointer;
  color: white;
  text-decoration: none !important;
}

@-webkit-keyframes submenuBorderAnimation {
  to {
    width: 100%;
  }
}

@keyframes submenuBorderAnimation {
  to {
    width: 100%;
  }
}

/*  --------------- Mobile Menu -------------*/
/*  --------------- Slider -------------*/
.e-slider {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.e-slider-h1 {
  font-weight: 600;
  color: white;
  border-bottom: 2px solid #ECAE83;
}

.e-slider-p {
  color: white;
}

.e-slider .carousel-inner .carousel-item {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.e-slider .e-slider-content {
  padding: 100px;
}

.e-slider .slider-controls {
  height: 100px;
  width: 368px;
  z-index: 50;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
}

.e-slider .slider-controls a {
  width: 40%;
}

.e-slider .slider-controls img {
  width: 12px;
}

.e-slider .slider-controls .slider-bar {
  width: 100%;
  height: 4px;
  background-color: #A0A0A0;
  position: absolute;
  top: 0;
}

.e-slider .slider-controls .slider-bar-fill {
  height: 100%;
  width: 0;
  background-color: #ECAE83;
}

.e-slider .slider-unique-visits {
  position: absolute;
  bottom: 0px;
  /* background-color: red; */
  left: 0;
  z-index: 40;
  height: 50px;
  display: block;
  width: 368px;
  text-align: left;
  padding-left: 100px;
  letter-spacing: 2px;
}

.e-slider-overlay {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}

.e-slider .lightbox-img {
  height: 100%;
  width: 100%;
}

.e-home-header-wrapper {
  height: 100vh;
}

.e-home-header-content {
  width: calc(100% - 60px);
  left: 60px;
  position: absolute;
  top: 0;
  right: 0;
}

.e-termometer {
  position: absolute;
  z-index: 60;
  height: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 60px;
  background-color: #1B1B1C;
}

.e-termometer .e-termometer-container {
  width: 0;
  display: none;
}

.e-termometer.show {
  width: 100%;
}

.e-termometer.show .e-termometer-container {
  width: calc(100% - 60px);
  display: inline-block;
}

.e-termometer.show .e-termometer-btn span {
  display: none;
}

.e-termometer.show .e-termometer-btn::after {
  content: url("/img/svg/ic_burger_close.svg");
}

.e-termometer-container {
  height: 100%;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.e-termometer-container .left-c .house-c {
  margin: 0;
  font-size: 177px;
  color: white;
}

.e-termometer-container .left-c .house-d {
  font-size: 30px;
  color: white;
  word-break: break-word;
  text-transform: uppercase;
}

.e-termometer-btn {
  cursor: pointer;
  background-color: #1B1B1C;
  height: 100%;
  width: 60px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
}

.e-termometer-btn .text {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 14px;
}

.e-termometer-btn .text::after {
  padding-left: 10px;
  content: url(/img/svg/down_arrow_small_white.svg);
  border: 0;
  vertical-align: 0;
}

.e-termometer table {
  position: relative;
  margin: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

.e-termometer table tr td {
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 16px;
  color: black;
  border: 0;
}

.e-termometer table tr td:first-child {
  cursor: pointer;
  text-align: right;
  padding-right: 30px;
}

.e-termometer table tr td:first-child:hover {
  opacity: 0.9;
}

.e-termometer table tr td:last-child {
  padding: 0 0 0 10px;
  min-width: 120px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 25px;
  color: white;
  vertical-align: middle;
}

.e-termometer table tr:first-child td:nth-child(2) {
  width: 40px;
  padding: 0 0 0 20px;
}

.e-termometer table tr:first-child td:nth-child(2) .fill-bar {
  height: 100%;
  width: 20px;
  margin: 0;
  bottom: 0;
  position: absolute;
  border: 1px solid #ECAE83;
}

.e-termometer table tr:first-child td:nth-child(2) .fill-bar .inner-fill {
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  position: absolute;
  height: 0px;
  bottom: 0px;
  background-color: #ECAE83;
  width: 100%;
}

.e-termometer-table-container {
  position: relative;
}

.e-termometer-table-header {
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid rgba(236, 174, 131, 0.7);
  padding-bottom: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.slide-counter {
  width: 20%;
  text-align: center;
}

.social-media-container {
  z-index: 50;
  display: block;
  position: absolute;
  right: 0;
  padding-right: 100px;
}

.social-media-container ul li {
  display: block;
}

.social-media-container ul li img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.social-media-container ul li:nth-last-child(2) img {
  margin: 30px 0 30px 0;
}

/* -------------------------- MINI SLIDER ------------ */
.e-slider.e-slider-mini {
  max-height: 500px;
}

.e-slider.e-slider-mini .carousel-inner .carousel-item {
  max-height: 500px;
}

.e-slider.e-slider-mini .slider-controls {
  height: 80px;
  width: 200px;
}

.e-slider.e-slider-mini .slide-counter {
  width: 30%;
}

.e-slider.e-slider-mini .social-media-container {
  display: none;
}

.e-slider.e-slider-mini.e-bg-fixed .carousel-item {
  background-attachment: fixed;
}

@media (max-width: 992px) {
  .e-slider-mini-wrapper {
    padding-top: 75%;
    position: relative;
    /*     .e-bg-fixed{
      max-height: 100%;
      .carousel-inner .carousel-item{
        max-height: 100%;
      }
    } */
  }
  .e-slider-mini-wrapper .e-slider-mini {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  .e-slider-mini-wrapper .e-slider-mini .carousel-inner {
    height: 100%;
  }
  .e-slider-mini-wrapper .e-slider-mini .carousel-inner .carousel-item {
    height: 100%;
  }
}

/*  --------------- Slider -------------*/
/*  --------------- Margins -------------*/
.e-mtb-180 {
  margin-bottom: 180px;
  margin-top: 180px;
}

.e-mb-180 {
  margin-bottom: 180px;
}

.e-mtb-100 {
  margin-bottom: 100px;
  margin-top: 100px;
}

.e-mt-100 {
  margin-top: 100px;
}

.e-mt-180 {
  margin-top: 180px;
}

.e-ptb-180 {
  padding-bottom: 180px;
  padding-top: 180px;
}

.e-border {
  border-color: #ECAE83;
}

.e-mb-100 {
  margin-bottom: 100px;
}

/*  --------------- Margins -------------*/
/*  --------------- Buttons -------------*/
.e-btn {
  cursor: pointer;
  color: white;
  border: 0;
  border-radius: 0;
  padding: 20px 43px 20px 43px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none !important;
}

.e-btn-primary {
  background-color: #ECAE83;
  color: black !important;
  border: 0;
}

.e-btn-primary:hover {
  background-color: #DEA47D;
  color: black;
}

.e-btn-disabled {
  background-color: #323133;
  color: #A0A0A0 !important;
  cursor: default !important;
}

.e-btn-white {
  background-color: #1B1B1C;
  border: solid 1px white;
  color: white !important;
}

.e-btn-white:hover {
  background-color: white;
  border-color: #1B1B1C;
  color: #1B1B1C !important;
}

.e-btn-dark {
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px #1B1B1C;
  color: #1B1B1C;
}

.e-btn-dark:hover {
  background-color: #1B1B1C;
  border-color: white;
  color: white;
}

.e-btn-dark-long {
  height: 60px;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #1B1B1C;
  color: white;
}

.e-btn-dark-long::after {
  content: url("/img/svg/arrow_slider_right_white.svg");
  border: 0;
  width: 16px;
  height: 16px;
  float: right;
}

.e-btn-dark-long:hover {
  background-color: #ECAE83;
}

.e-btn-light-long {
  height: 60px;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: white;
  color: #1B1B1C;
}

.e-btn-light-long::after {
  content: url("/img/svg/arrow_slider_right_dark.svg");
  border: 0;
  width: 16px;
  height: 16px;
  float: right;
}

.e-btn-light-long:hover {
  background-color: #ECAE83;
}

/*  --------------- Buttons -------------*/
/* ---------------- BG Colors ------------*/
.e-bg-light-grey {
  background-color: #F7F7F7;
}

.e-bg-white {
  background-color: #FFFFFF;
}

.e-bg-dark {
  background-color: #1B1B1C;
}

.e-bg-gold {
  background-color: #ECAE83;
}

/* ---------------- BG Colors ------------*/
/* ---------------- Panel Overrides ------------*/
.e-panel .panel-heading {
  -webkit-transition: padding .5s;
  transition: padding .5s;
  padding: 20px 0 20px 0;
  color: white;
}

.e-panel .panel-heading h4 {
  color: white;
}

.e-panel .panel {
  position: relative;
}

.e-panel .panel::after {
  content: '';
  height: 2px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.e-panel .panel:first-child::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.e-panel .panel.e-active .panel-heading {
  padding-left: 40px !important;
}

.e-panel .panel.e-active .panel-heading .panel-title::after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.e-panel .panel .panel-heading:hover {
  padding-left: 40px !important;
}

.e-panel .panel .panel-body {
  padding-left: 40px;
  color: white;
  padding-top: 10px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.e-panel .panel .panel-body img {
  max-width: 100%;
}

.e-panel .panel .panel-heading {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.e-panel .panel .panel-heading .panel-date {
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  word-spacing: 5px;
  opacity: .6;
}

.e-panel .panel .panel-heading .panel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.e-panel .panel .panel-heading .panel-title::after {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  margin: auto 0 auto auto;
  content: url("/img/svg/ic_arrow_down_white.svg");
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.e-panel.e-panel-black .panel-heading {
  color: black;
}

.e-panel.e-panel-black .panel-heading h4 {
  color: black;
}

.e-panel.e-panel-black .panel-heading .panel-title::after {
  content: url("/img/svg/ic_arrow_down_black.svg");
}

.e-panel.e-panel-black .panel-body {
  color: black;
}

.e-panel.e-panel-black .panel::after, .e-panel.e-panel-black .panel::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.e-footer {
  color: white;
}

.e-footer .e-footer-projects ul {
  width: 100%;
}

.e-footer .e-footer-projects ul li {
  text-align: center;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding: 10px 0 10px 0;
}

.e-footer .e-footer-projects ul li:first-child {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.e-footer .e-footer-projects ul li.e-hr {
  border-bottom: 1px solid #707070;
}

.e-footer .e-footer-projects ul li .e-btn {
  width: 100%;
  font-size: 14px;
  padding-left: 0;
  padding-right: 0;
}

.e-footer .e-footer-projects ul li:nth-child(2) {
  padding-bottom: 30px;
}

.e-footer .e-footer-menu .nav-item img {
  width: 16px;
  opacity: 0.5;
}

.e-footer .e-footer-menu .nav-item:hover img {
  opacity: 0.75;
}

.e-card {
  border-radius: 0;
  padding: 0 20px 0 20px;
  font-family: "Montserrat", sans-serif;
}

.e-card-icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -1px;
  margin-right: -1px;
}

.e-card-header {
  min-height: 105px;
  background-color: #FFF;
  margin-top: 1px;
}

.e-card .card-body {
  padding-top: 0;
}

.e-card .card-body, .e-card .card-header {
  padding-left: 0;
  padding-right: 0;
}

.e-card-title {
  font-size: 28px !important;
  font-weight: bold;
}

.e-card-border {
  border-bottom: 1px solid #707070;
  border-top: 1px solid #707070;
}

.e-card-footer {
  margin-left: -20px;
  margin-right: -20px;
}

.e-semi-bold {
  font-weight: 600;
}

.e-shadow {
  -webkit-transition: .5s;
  transition: .5s;
}

.e-shadow:hover {
  -webkit-box-shadow: 14px 15px 53px -8px rgba(0, 0, 0, 0.26);
  box-shadow: 14px 15px 53px -8px rgba(0, 0, 0, 0.26);
}

.e-border-tb {
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}

/* ----------------- Contact Form ------------------- */
.contact-form input *:focus {
  outline-color: #ECAE83 !important;
}

.contact-form .form-group input, .contact-form .form-group textarea {
  background-color: #323133;
  border: 0;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
}

.contact-form .form-group input {
  height: 60px;
}

.contact-form .form-group textarea {
  height: 110px;
}

.contact-form .custom-control-label:before {
  background-color: #1B1B1C;
}

.contact-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #E6E2DF;
  border-color: #ECAE83 !important;
  border-top-color: #ECAE83 !important;
}

.contact-form .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='rgb(236, 174, 131)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.contact-form .custom-control-label {
  line-height: 35px;
  font-size: 16px;
  padding-left: 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.contact-form .custom-control-label::after, .contact-form .custom-control-label::before {
  height: 30px;
  width: 30px;
  border-radius: 0;
}

.contact-form.contact-form-white .form-group input, .contact-form.contact-form-white .form-group textarea {
  color: #323133;
  background-color: #E6E2DF;
}

.contact-form.contact-form-white .custom-control-label {
  color: #323133;
}

.contact-form.contact-form-white a {
  color: black;
}

.contact-form a {
  color: white;
  display: block;
  text-decoration: underline;
  font-size: 14px;
}

/* ----------------- Contact Form ------------------- */
/* ----------------- Contact Window Form ------------------- */
.e-contact-window {
  overflow: scroll;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 500;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-x: hidden;
  top: 0;
}

.e-contact-window-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 600;
}

.e-contact-window.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.e-contact-window-close {
  cursor: pointer;
}

/* ----------------- Contact Window Form ------------------- */
/* ----------------- Termometer Window Form ------------------- */
.e-termometer-window {
  top: 0;
  overflow: scroll;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 500;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  overflow-x: hidden;
}

.e-termometer-window-close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 600;
}

.e-termometer-window.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.e-termometer-window .e-termometer {
  position: relative;
  width: 100%;
}

.e-termometer-window .e-termometer .e-termometer-container {
  width: 100%;
  display: inline-block;
}

.e-termometer-window .e-termometer .house-d {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.e-termometer-window .e-termometer .house-c {
  font-size: 177px;
  font-weight: bold;
  line-height: 1;
}

/* ----------------- Termometer Window Form ------------------- */
/* ----------------- Focus restyle ------------- */
.form-control:focus {
  outline-color: #ECAE83;
  border-color: #ECAE83;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 174, 131, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(236, 174, 131, 0.25);
}

button:focus {
  outline-color: #ECAE83;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 174, 131, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(236, 174, 131, 0.25);
}

/* ----------------- Focus restyle ------------- */
/* ----------------- Modals ------------------ */
[id^="e-modal-price"] .modal-content, #e-modal-thanks .modal-content {
  border: 0;
  border-radius: 0;
}

[id^="e-modal-price"] .modal-body-scroll, #e-modal-thanks .modal-body-scroll {
  overflow-y: auto;
  max-height: 60vh;
}

[id^="e-modal-price"] .modal-footer, #e-modal-thanks .modal-footer {
  border: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* ----------------- Modal ------------------ */
/* -------------------- Preloader ------------------ */
body.preloader-site {
  overflow: hidden;
}

body.preloader-site .preloader-wrapper {
  display: block;
}

.preloader-wrapper {
  display: none;
  height: 100%;
  width: 100%;
  background: #1B1B1C;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  font-size: 170px;
  font-weight: 600;
}

.preloader-wrapper .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.preloader-wrapper .container text {
  position: relative;
  width: 310px;
  color: white;
  height: 230px;
  overflow: hidden;
}

.preloader-wrapper .container text::after {
  content: url("/img/svg/logo_evillage.svg");
  position: absolute;
  -webkit-transform: translateY(230px);
          transform: translateY(230px);
  left: 0;
  -webkit-animation-name: slideUpTextAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-delay: .5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-name: slideUpTextAnimation;
  animation-duration: .5s;
  animation-delay: .5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}

@media (max-width: 992px) {
  .preloader-wrapper {
    font-size: 100px;
  }
  .e-btn-lg {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .preloader-wrapper {
    font-size: 70px;
  }
}

/* -------------------- Preloader ------------------ */
@-webkit-keyframes slideUpTextAnimation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideUpTextAnimation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideUpMenuAnimation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpMenuAnimation {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .e-btn-mob {
    width: 100%;
    text-align: center;
  }
  .e-ptb-180 {
    padding-bottom: 90px;
    padding-top: 90px;
  }
  .e-mtb-180 {
    margin-bottom: 90px;
    margin-top: 90px;
  }
  .e-mb-180 {
    margin-bottom: 90px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* -------------------- Form validator ------------------ */
form .error {
  color: #FF6565;
}

form input.error, textarea.error {
  border: solid 1px #FF6565 !important;
}

form .custom-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .custom-control input #b {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

form .custom-control .custom-control-label #a {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

form .custom-control .error {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  bottom: 0px;
  left: 0px;
  display: block;
  margin-left: -1.5em;
}

/* -------------------- Form validator ------------------ */
/* -------------------- Mobile menu button ------------------ */
@media (min-width: 1200px) {
  .e-mobile-menu-button {
    visibility: hidden;
  }
}

.e-mobile-menu-button {
  background-image: url(/img/svg/ic_burger_white.svg);
  background-repeat: no-repeat;
  background-position: 11px 14px;
  background-color: #1B1B1C;
  cursor: pointer;
  display: none;
  z-index: 60;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 20px;
  border: 1px solid #F7F7F7;
  opacity: 0.8;
}

.e-mobile-menu-button:hover {
  opacity: 1;
}

/* -------------------- Mobile menu button ------------------ */
/*# sourceMappingURL=global.css.map */