@import "variables";

/* ---------------- Youtube video ------------*/
.videoWrapper {
    position: relative;
    padding-bottom: 60%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  
  /* ---------------- Youtube video ------------*/
  /* ---------------- Youtube video ------------*/
  .e-googleMap{
    &-wrapper{
      transition: all 5s;
      overflow: hidden;
      display: flex;
      width: 100%;
      &.showMap{
        .e-googleMap-map, .e-googleMap-content{
          transform: translateX(-100%);
        }
      }
    }
    &-image{
      min-height: 500px;
      background-image: url('/img/jpg/map.jpg');
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &-map{
      display: flex;
      .mapouter{
        position:relative;
        text-align:right;
        width: calc(100% - #{$e-map-btn-width});
        height: 100%;
      }
      .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:100%;
        width:100%;
        iframe{
          height: 100%;
          width: 100%;
        }
      }
      .btn-close{
        height: 100%;
        width: $e-map-btn-width;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-dark;
        cursor: pointer;
        &::after{
          content: url(/img/svg/ic_burger_close.svg);
        }
      }
    }
    &-map, &-content{
      transition: all .5s;
      min-width: 100%;
      width: 100%;
    }
  }

/* ---------------- Youtube video ------------*/
  .e-logo-text-sub {
    font-size: 23px;
    font-weight: bold;
    color: white;
  }
  
  .e-partners{
    > div{
      text-align: center;
    }
  }
  .e-home-header-wrapper{
    .e-termometer.show .e-termometer-container{
      animation: cssAnimation .5s ease-out .5s forwards;
      opacity: 0;
    }
  }
/*   --------- Media Query's ----------- */
@media (min-width: 1200px){
  .e-header .container{
    max-width: 100% !important;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 992px){
  .e-home-header-wrapper .e-home-header-content{
    width: 100%;
    left: 0;
  }
  .e-home-header-wrapper .e-termometer{
    display: none;
  }
}
@media (max-width: 768px){
  .e-slider{
    .social-media-container{
      display: none;
    }
    .slider-unique-visits{
      display: none;
    }
    .slider-controls{
      width: 100%;
    }
    .e-slider-content{
      padding: 16px;
      text-align: center;
      h1{
        font-size: 45px;
      }
    }
    .carousel-item{
      justify-content: center;
    }
  }
}
@media (max-width: 768px){
  .e-googleMap-content .e-mtb-180{
    margin-top: 3rem;
  }
}
@media (max-width: 576px) {
  .e-logo-text {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px){
  .e-googleMap-image{
    height: 64%;
    top: 18%;
    position: relative;
    background-position: 60% center;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px){
  .e-googleMap-image{
    height: 80%;
    top: 10%;
    position: relative;
  }
}
@media (max-width: 992px){
  .e-googleMap-image{
    display: none;
  }
}
@keyframes cssAnimation {
  from { transform: translateY(50%);}
  60%{opacity: 0.2;}
  80%{opacity: 0.5;}
  to   { transform: translateY(0); opacity: 1; }
}
@media only screen and (orientation: landscape) and (max-width: 992px) and (max-height: 600px) {
  .e-home-header-wrapper{
    height: 200vh;
  }
  .e-slider{
    height: 200vh;
    .carousel-inner .carousel-item{
      height: 200vh;
    }
  }
}
@media(max-width: 992px){
  .e-slider-h1{
    font-size: 50px;
  }
}
@media(min-width: 992px){
  .e-slider-h1{
    font-size: 60px;
  }
}
@media(max-width: 768px){
  .e-slider-h1{
    font-size: 40px;
  }
}