/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
/* ---------------- Youtube video ------------*/
.videoWrapper {
  position: relative;
  padding-bottom: 60%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ---------------- Youtube video ------------*/
/* ---------------- Youtube video ------------*/
.e-googleMap-wrapper {
  -webkit-transition: all 5s;
  transition: all 5s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.e-googleMap-wrapper.showMap .e-googleMap-map, .e-googleMap-wrapper.showMap .e-googleMap-content {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.e-googleMap-image {
  min-height: 500px;
  background-image: url("/img/jpg/map.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.e-googleMap-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-googleMap-map .mapouter {
  position: relative;
  text-align: right;
  width: calc(100% - 60px);
  height: 100%;
}

.e-googleMap-map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

.e-googleMap-map .gmap_canvas iframe {
  height: 100%;
  width: 100%;
}

.e-googleMap-map .btn-close {
  height: 100%;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1B1B1C;
  cursor: pointer;
}

.e-googleMap-map .btn-close::after {
  content: url(/img/svg/ic_burger_close.svg);
}

.e-googleMap-map, .e-googleMap-content {
  -webkit-transition: all .5s;
  transition: all .5s;
  min-width: 100%;
  width: 100%;
}

/* ---------------- Youtube video ------------*/
.e-logo-text-sub {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.e-partners > div {
  text-align: center;
}

.e-home-header-wrapper .e-termometer.show .e-termometer-container {
  -webkit-animation: cssAnimation .5s ease-out .5s forwards;
          animation: cssAnimation .5s ease-out .5s forwards;
  opacity: 0;
}

/*   --------- Media Query's ----------- */
@media (min-width: 1200px) {
  .e-header .container {
    max-width: 100% !important;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 992px) {
  .e-home-header-wrapper .e-home-header-content {
    width: 100%;
    left: 0;
  }
  .e-home-header-wrapper .e-termometer {
    display: none;
  }
}

@media (max-width: 768px) {
  .e-slider .social-media-container {
    display: none;
  }
  .e-slider .slider-unique-visits {
    display: none;
  }
  .e-slider .slider-controls {
    width: 100%;
  }
  .e-slider .e-slider-content {
    padding: 16px;
    text-align: center;
  }
  .e-slider .e-slider-content h1 {
    font-size: 45px;
  }
  .e-slider .carousel-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .e-googleMap-content .e-mtb-180 {
    margin-top: 3rem;
  }
}

@media (max-width: 576px) {
  .e-logo-text {
    width: 400px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .e-googleMap-image {
    height: 64%;
    top: 18%;
    position: relative;
    background-position: 60% center;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .e-googleMap-image {
    height: 80%;
    top: 10%;
    position: relative;
  }
}

@media (max-width: 992px) {
  .e-googleMap-image {
    display: none;
  }
}

@-webkit-keyframes cssAnimation {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes cssAnimation {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@media only screen and (orientation: landscape) and (max-width: 992px) and (max-height: 600px) {
  .e-home-header-wrapper {
    height: 200vh;
  }
  .e-slider {
    height: 200vh;
  }
  .e-slider .carousel-inner .carousel-item {
    height: 200vh;
  }
}

@media (max-width: 992px) {
  .e-slider-h1 {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .e-slider-h1 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .e-slider-h1 {
    font-size: 40px;
  }
}
/*# sourceMappingURL=home.css.map */