/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
.card {
  border: 0;
}

.e-card-special {
  position: absolute;
  background-color: #FF6565;
  top: 0;
  left: 0;
  height: 40px;
  padding: 0 15px 0 15px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-card-header {
  position: relative;
  margin: 0;
  height: 0;
  overflow: hidden;
  padding-top: 75%;
  min-height: 0;
  background-color: #FFF;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.e-card-header-area {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #FFF;
  height: 45px;
  width: 120px;
  bottom: 0;
  right: 0;
}

.e-card-button {
  display: inline-block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(236, 174, 131, 0.5);
}

.card-footer {
  background-color: #FFF;
  border: 0;
}

.card-body {
  padding-bottom: 0;
}

.card-footer {
  padding-top: 0;
  padding-bottom: 20px;
}

a:hover {
  color: unset !important;
  text-decoration: none !important;
}
/*# sourceMappingURL=houses.css.map */