@import "variables";

  .e-slider.e-slider{
    &-mini{
      .slider-controls{
        height: 60px;
        width: 160px;
      }
    }
    .special-order{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px 0 20px;
      height: 60px;
      position: absolute;
      background-color: $color-red;
      top:0;
      left: 0;
      z-index: 10;
      font-weight: bold;
      font-size: 14px;
      color: #FFF;
    }
  }
  .table-wrapper{
    display: flex;
    flex-direction: column;
    .e-btn{
      margin-top: auto;
    }
  }
  .e-detail-table{
    margin: 0;
    font-size: 18px;
    tr{
      td{
        padding: 15px 12px 15px 12px;
      }
    }
    &.table-striped tbody tr:nth-of-type(odd) {
      background-color: $color-lightgrey;
    }
    .price-row{
      padding-bottom: 20px;
      padding-top: 20px;
      .price{
        font-size: 22px;
        font-weight: bold;
        line-height: 50px;
      }
      .usualprice{
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        text-decoration: line-through;
      }
      .red{
        color: $color-darkred;
      }
    }
  }
  .e-slider.e-slider-mini{
    max-height: 600px;
    .carousel-inner .carousel-item {
      max-height: 600px;
      border: 2px solid $color-lightgrey;
    }
  }