/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
.e-slider.e-slider-mini .slider-controls {
  height: 60px;
  width: 160px;
}

.e-slider.e-slider .special-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 0 20px;
  height: 60px;
  position: absolute;
  background-color: #FF6565;
  top: 0;
  left: 0;
  z-index: 10;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
}

.table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-wrapper .e-btn {
  margin-top: auto;
}

.e-detail-table {
  margin: 0;
  font-size: 18px;
}

.e-detail-table tr td {
  padding: 15px 12px 15px 12px;
}

.e-detail-table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F7F7F7;
}

.e-detail-table .price-row {
  padding-bottom: 20px;
  padding-top: 20px;
}

.e-detail-table .price-row .price {
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
}

.e-detail-table .price-row .usualprice {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
}

.e-detail-table .price-row .red {
  color: #C11616;
}

.e-slider.e-slider-mini {
  max-height: 600px;
}

.e-slider.e-slider-mini .carousel-inner .carousel-item {
  max-height: 600px;
  border: 2px solid #F7F7F7;
}
/*# sourceMappingURL=house.css.map */