@import "variables";

.card{
  border: 0;
}
.e-card{
  &-special{
      position: absolute;
      background-color: $color-red;
      top: 0;
      left: 0; 
      height: 40px;
      padding: 0 15px 0 15px;
      color: white;
      font-size: 12px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  &-header{
    position: relative;
    margin: 0;
    height: 0;
    overflow: hidden;
    padding-top: 75%;
    min-height: 0;
    background-color: #FFF;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    &-area{
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: #FFF;
      height: 45px;
      width: 120px;
      bottom: 0;
      right: 0;
    }
  }
}
.e-card-button{
  display: inline-block;
  font-size: 16px;
  font-family: $font-family;
  color: black;
  font-weight: bold;
  padding-bottom: 5px; 
  border-bottom: 1px solid rgba(236, 174, 131, 0.5);
}

.card{
  &-footer{
    background-color: #FFF;
    border: 0;
  }
  &-body{
    padding-bottom: 0;
  }
  &-footer{
    padding-top: 0;
    padding-bottom: 20px;
  }
}
a:hover {
  color: unset !important;
  text-decoration: none !important;
}
