/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
.e-rmap-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-rmap-head-action {
  height: 38px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38px;
  margin-top: auto;
  border: 1px solid #ECAE83;
  border-radius: 50%;
  cursor: pointer;
}

.e-rmap-head-action::after {
  content: url(/img/svg/ic_arrow_left_gold.svg);
  margin: auto;
}

.e-rmap-head-action[data-rmap=next]::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.e-rmap-head-content {
  display: inline-block;
  width: calc(100% - 80px);
}

.e-rmap-head-content-title {
  font-size: 16px;
  font-weight: normal;
  color: #ECAE83;
  left: 0px;
  top: -30px;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.e-rmap-head-content ul {
  position: relative;
  padding: 50px 20px 20px 20px;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 0 10px 0 10px;
}

.e-rmap-head-content ul::before {
  cursor: pointer;
  content: '';
  width: 100%;
  border-bottom: 1px solid #ECAE83;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.e-rmap-head-content ul li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 120px;
  height: 60px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  border: 1px solid #ECAE83;
  border-top: 0;
  border-right: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
  cursor: pointer;
}

.e-rmap-head-content ul li:nth-child(odd) {
  height: 40px;
}

.e-rmap-head-content ul li::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  left: -8px;
  bottom: -8px;
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #ECAE83;
  border-radius: 50%;
  cursor: pointer;
}

.e-rmap-head-content ul li::before {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: '';
  left: -4px;
  top: -4px;
  position: absolute;
  height: 7px;
  width: 7px;
  background-color: #ECAE83;
  border-radius: 50%;
  cursor: pointer;
}

.e-rmap-head-content ul li.active {
  border-left: 1px solid black;
}

.e-rmap-head-content ul li.active::after, .e-rmap-head-content ul li.active::before {
  background-color: black;
}

.e-rmap-head-content ul li.active::after {
  height: 31px;
  width: 31px;
  left: -16px;
  bottom: -16px;
}

.e-rmap-head-content ul li.active .e-rmap-head-content-title {
  color: black;
  font-weight: bold;
}
/*# sourceMappingURL=road_map.css.map */