@import "variables";

.e-rmap{
  &-container{
    
  }
  &-head{
    width: 100%;
    display: flex;
    &-action{
      height: 38px;
      position: relative;
      display: flex;
      width: 38px;
      margin-top: auto;
      border: 1px solid $color-lightgold;
      border-radius: 50%;
      cursor: pointer;
      &::after{
        content: url(/img/svg/ic_arrow_left_gold.svg);
        margin: auto;
      }
      &[data-rmap=next]::after{
        transform: rotate(180deg);
      }
    }
    &-content{
      display: inline-block;
      width: calc(100% - 80px);
      &-title{
        font-size: 16px;
        font-weight: normal;
        color: $color-lightgold;
        left: 0px;
        top:-30px;
        position: absolute;
        transition: all 0.3s;
      }
      ul{
        position: relative;
        padding: 50px 20px 20px 20px;
        overflow-x: hidden;
        white-space: nowrap;
        margin: 0 10px 0 10px;
        &::before{
          cursor: pointer;
          content: '';
          width: 100%;
          border-bottom: 1px solid $color-lightgold;
          position: absolute;
          bottom:20px;
          left: 0;
        }
        li{
          transition: all 0.3s;
          width: 120px;
          height: 60px;
          display: inline-block;
          position: relative;
          vertical-align: bottom;
          border: 1px solid $color-lightgold;
          border-top:0;
          border-right: 0;
          // disable text selection
          -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
          cursor: pointer;
          &:nth-child(odd){
            height: 40px;
          }
          &::after{
            transition: all 0.3s;
            content: '';
            left: -8px;
            bottom:-8px;
            position: absolute;
            height: 15px;
            width: 15px;
            background-color: $color-lightgold;
            border-radius: 50%;
            cursor: pointer;
          }
          &::before{
            transition: all 0.3s;
            content: '';
            left: -4px;
            top:-4px;
            position: absolute;
            height: 7px;
            width: 7px;
            background-color: $color-lightgold;
            border-radius: 50%;
            cursor: pointer;
          }
        }
        li.active{
          border-left: 1px solid black;
          &::after, &::before{
            background-color: black;
          }
          &::after{
            height: 31px;
            width: 31px;
            left: -16px;
            bottom:-16px;
          }
          .e-rmap-head-content-title{
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }
}