@import "variables";

/* ---------------- Village Map ------------*/
.e-mobile-menu{
  top: 0;
}
.e-village-map{
  font-family: $font-family;
  width: 100%;
  position: relative;
  color: white;
  background-color: $color-dark;
  .leaflet-container{
    background-color: $color-dark;
  }
  .leaflet-custom-container{
    width: 200px;
    height: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &-ref {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba($color: $color-dark, $alpha: 0.9);
    z-index: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    .e-status-ref{
      font-family: $font-family;
      font-size: 20px;
      display: flex;
      align-items: center;
      padding-right: 30px;
      .free, .bought, .reserved{
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding-left: 30px;
        margin-right: 10px;
        border: 1px solid $color-dark;
      }
      .free{
        background-color: $color-white;
      }
      .bought{
        background-color: $color-red;
      }
      .reserved{
        background-color: $color-lightgold;
      }
    }
  }
}
.e-tooltip{
  font-size: 20px;
  border-radius: 0;
  padding: 5px 10px;
  font-family: $font-family;
}
.leaflet-container a.leaflet-popup-close-button{
  font-size: 20px;
  right: 3px;
}
.e-popup{
  &-content{
    text-align: center;
    h1{
      font-size: 28px;
    }
    h2{
      font-size: 22px;
    }
    p{
      min-height: 50px;
    }
    &-text{
      font-family: $font-family;
      padding-top: 10px;
    }
  }
  & > div{
    border-radius: 0 !important;
  }
  .leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background-color: rgba($color: $color-white, $alpha: 0.9);
    border-radius: 0 !important;
  }
  .leaflet-popup-content{
    margin: 19px 19px;
  }
} 
.e-status{
  border-radius: 50%;
  opacity: 0.75;
  &.free{
    background-color: $color-white;
  }
  &.bought{
    background-color: $color-red;
  }
  &.reserved{
    background-color: $color-lightgold;
  }
  &:hover{
    opacity: 1;
  }
}
.e-type{
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: $color-lightgold;
  &-label{
    display: flex;
    height: 40px;
    position: absolute;
    color:black;
    white-space: nowrap;
    .icon{
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: 30px 30px;
      background-position: 5px 5px;
    }
    .text{
      font-family: $font-family;
      display: none;
      padding: 5px 10px;
      background-color: #FFF;
      z-index: 200;
      &.open{
        display: flex;
      }
    }
  }
}
.e-contact-window{
  z-index: 9999;
}
.leaflet-bar{
  border: 0 !important;
  a{
    opacity: 0.9;
    border-radius: 0 !important;
    height: 40px !important;
    width: 40px !important;
    line-height: 40px !important;
    background-color: $color-dark !important;
    border: 0 !important;
    color: white;
    &:hover{
      opacity: 1;
      color:white;
    }
    &:first-child{
      margin-bottom: 10px;
    }
    &.leaflet-disabled{
      color: grey !important;
      background-color: #3e3e41 !important;
    }
  }
}
.e-popup-indicator{
  display: none;
}
@media (max-width: 740px) {
  .e-village-map-ref{
    display: none;
  }
}
/* ---------------- Village Map ------------*/
