/*------START------System Colors ------------- */
/*------END------System Colors ------------- */
/*------START------Font ------------- */
/*------END------Font ------------- */
/* ---------------- Village Map ------------*/
.e-mobile-menu {
  top: 0;
}

.e-village-map {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  position: relative;
  color: white;
  background-color: #1B1B1C;
}

.e-village-map .leaflet-container {
  background-color: #1B1B1C;
}

.e-village-map .leaflet-custom-container {
  width: 200px;
  height: 100px;
  background-color: red;
  position: absolute;
  right: 0;
  bottom: 0;
}

.e-village-map-ref {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(27, 27, 28, 0.9);
  z-index: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.e-village-map-ref .e-status-ref {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.e-village-map-ref .e-status-ref .free, .e-village-map-ref .e-status-ref .bought, .e-village-map-ref .e-status-ref .reserved {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding-left: 30px;
  margin-right: 10px;
  border: 1px solid #1B1B1C;
}

.e-village-map-ref .e-status-ref .free {
  background-color: #FFFFFF;
}

.e-village-map-ref .e-status-ref .bought {
  background-color: #FF6565;
}

.e-village-map-ref .e-status-ref .reserved {
  background-color: #ECAE83;
}

.e-tooltip {
  font-size: 20px;
  border-radius: 0;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
}

.leaflet-container a.leaflet-popup-close-button {
  font-size: 20px;
  right: 3px;
}

.e-popup-content {
  text-align: center;
}

.e-popup-content h1 {
  font-size: 28px;
}

.e-popup-content h2 {
  font-size: 22px;
}

.e-popup-content p {
  min-height: 50px;
}

.e-popup-content-text {
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
}

.e-popup > div {
  border-radius: 0 !important;
}

.e-popup .leaflet-popup-content-wrapper, .e-popup .leaflet-popup-tip {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0 !important;
}

.e-popup .leaflet-popup-content {
  margin: 19px 19px;
}

.e-status {
  border-radius: 50%;
  opacity: 0.75;
}

.e-status.free {
  background-color: #FFFFFF;
}

.e-status.bought {
  background-color: #FF6565;
}

.e-status.reserved {
  background-color: #ECAE83;
}

.e-status:hover {
  opacity: 1;
}

.e-type {
  font-size: 20px;
  height: 40px;
  width: 40px;
  background-color: #ECAE83;
}

.e-type-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  position: absolute;
  color: black;
  white-space: nowrap;
}

.e-type-label .icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 5px 5px;
}

.e-type-label .text {
  font-family: "Montserrat", sans-serif;
  display: none;
  padding: 5px 10px;
  background-color: #FFF;
  z-index: 200;
}

.e-type-label .text.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.e-contact-window {
  z-index: 9999;
}

.leaflet-bar {
  border: 0 !important;
}

.leaflet-bar a {
  opacity: 0.9;
  border-radius: 0 !important;
  height: 40px !important;
  width: 40px !important;
  line-height: 40px !important;
  background-color: #1B1B1C !important;
  border: 0 !important;
  color: white;
}

.leaflet-bar a:hover {
  opacity: 1;
  color: white;
}

.leaflet-bar a:first-child {
  margin-bottom: 10px;
}

.leaflet-bar a.leaflet-disabled {
  color: grey !important;
  background-color: #3e3e41 !important;
}

.e-popup-indicator {
  display: none;
}

@media (max-width: 740px) {
  .e-village-map-ref {
    display: none;
  }
}

/* ---------------- Village Map ------------*/
/*# sourceMappingURL=village_map.css.map */