<div class="e-rmap-head">
    <div class="e-rmap-head-action" data-rmap='prev'></div>
    <div class="e-rmap-head-content">
        <ul>
            <% _.each(list, function(i){ %>
                <li data-date='<%= JSON.stringify(i) %>' >
                    <div class="e-rmap-head-content-title"><%= i.Title %></div>
                </li>
            <% }); %>
        </ul>
    </div>
    <div class="e-rmap-head-action" data-rmap='next'></div>
</div>