<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-8">
        <div class="panel-group e-panel e-panel-black mt-5" id="rmapPanel">
            <% _.each(data, function(v, index){ %>
                <div class="panel e-panel-anime">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#rmapPanel" href="#rmapItem<%=index%>">
                        <div class="panel-date"><%=v.Date%></div>
                        <h4 class="panel-title"><%=v.Title%></h4>
                    </div>
                    <div id="rmapItem<%=index%>" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <%=v.Body%>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>