<div class="e-popup-content">
    <div class="e-popup-content-text">
        <h1>Участок № <%=Sector%></h1>
        <hr>
        <h2><%=Area%> m<sup>2</sup></h2>
        <hr>
        <p><%=Description%></p>
    </div>
    <% if(Status === 1){ %>
        <a class="e-btn e-btn-primary w-100 text-center e-contact-window-open">Резервировать</a>
    <% };%>
</div>